<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.F1TrainingApp"
        tools:targetApi="31" >

        <!-- Aquí se encuentran todas las pantallas del juego -->

        <!-- Pantalla Menu Principal -->
        <activity
            android:name=".PantallaM"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla Juego dificultad facil -->
        <activity
            android:name=".PantallaJ">
        </activity>

        <!-- Pantalla Juego dificultad normal -->
        <activity
            android:name=".PantallaJD2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla Pausa -->
        <activity
            android:name=".PantallaP">
        </activity>

        <!-- Pantalla configuracion -->
        <activity
            android:name=".PantallaC">
        </activity>

        <!-- Pantalla ayuda WEBVIEW -->
        <activity
            android:name=".PantallaA">
        </activity>

        <!-- Pantalla final -->
        <activity
            android:name=".PantallaF">
        </activity>

        <!-- BBDD -->

    </application>
</manifest>